* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variaveis*/
:root {
    /*Colors*/
    --color_header: blue;
    --color_logo: Green;
    --color_body: black;

    /*Font-size*/
    --size_font: 1rem;
    --size_font_botton: 1.5rem;


}

/*Header*/